<footer class="text-center">
    <div id="icons">
        <a class="icon" href="#">
            <img src="images/fb.png" width="25" height="25">
        </a>
        <a class="icon" href="#">
            <img src="images/twitter.png" width="30" height="30">
        </a>
        <a class="icon" href="#">
            <img src="images/instagram.png" width="25" height="25">
        </a>
    </div>
</footer>
