 {{> header loggedIn=loggedIn }}
<h1>HomePage</h1>
<h3>Welcome ....</h3>
{{#unless loggedIn}}

<a id="login" href="/auth/wallstreet" class="btn btn-primary">Log using Wallstreet Account</a>

{{#if pleaseLogin}}
    <script>
        $(document).ready(function () {
            $("#login").twist()
        })
    </script>
{{/if}}

{{/unless}}

