    {{> header loggedIn=loggedIn}}
<h1>Hello Mr. {{user.fullName}} </h1>
<table class="table">
    <tbody>
        {{#each user}}
        <tr>
            <td>{{@key}} :</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
