 {{> header loggedIn=loggedIn}}
<h1>Hello Mr. {{user.fullName}} </h1>
<table class="table">
    <tbody>
        {{#each user}}
        <tr>
            <td>{{@key}} :</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="div1"></div>

<button class="btn btn-primary">
    show my Id
</button>

  {{> footer}}

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("profile/myid", function (data) {
                if (data) {
                    $("#div1").html(`ID : ${data}`)
                    $("button").remove()
                }
            })
        })
    })
</script>
